<div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="inner cover">
          <h1 class="cover-heading">App Medic.</h1>
          <p class="lead"><a href="espacio" class="btn btn-dark btn-lg btn-block">Espacios</a>
            <a href="estudiante" class="btn btn-light btn-lg btn-block">Estudiantes</a>
            <a href="prestador" class="btn btn-dark btn-lg btn-block">Prestadores</a>
            <a href="inventario" class="btn btn-light btn-lg btn-block">Inventario</a>
            <a href="cita" class="btn btn-dark btn-lg btn-block">Citas</a>
            </p>
         
        </div>

        <div class="mastfoot">
          <div class="inner">
            <p>CUValles</p>
          </div>
        </div>

      </div>

    </div>

  </div>
